NODE_ENV=development
PORT=3000

POSTGRES_USER=postgres
POSTGRES_PASSWORD=12345678
POSTGRES_DB=postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
DATABASE_URL="postgresql://postgres:12345678@localhost:5432/postgres?schema=public"

REDIS_HOST=redis
REDIS_PORT=6379

JWT_ACCESS_SECRET=change_me_access_secret
JWT_REFRESH_SECRET=change_me_refresh_secret
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

BCRYPT_SALT_ROUNDS=10

DEFAULT_ADMIN_USERNAME=superadmin
DEFAULT_ADMIN_EMAIL=vancongng1908@gmail.com
DEFAULT_ADMIN_PASSWORD=Admin@123456

CORS_ORIGIN=http://localhost:5174
